<div class="text-danger">
<% if @item.errors.any? %>
   <span class="h4"><%= @item.errors.count %>errors prohibited this obj from being saved:</span>
  <% @item.errors.full_messages.each do |message| %><br>
     ・<%= message %>
  <% end %>
<% end %>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto col-md-5">
      <h1 class="mb-5">商品新規登録</h1>
        <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
          <%= render 'form_item', f: f %>
          <%= f.submit '新規登録', class: "btn btn-success btn-lg mx-auto d-block" %>
        <% end %>
    </div>
  </div>
</div>