<div class="container row mx-auto">
  <div class="signin text-center bg-light py-4 px-3 col-md-6 mx-auto rounded">
    <h4 class="signin-title mb-5"><mark>ログイン</mark></h4>
    <h5 class="mb-3">会員の方はこちらからログイン</h5>
    <%= form_with model: @customer, url: customer_session_path, class: "col-12", local: true do |f| %>
      <%= render "customer/shared/error_messages", resource: resource %>
      <div class="field mb-3">
        <i class="far fa-envelope mr-2"></i><%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field mb-3">
        <i class="fas fa-key mr-2"></i><%= f.label "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <%= f.submit "ログイン", class: "mt-4" %>
    <% end %>
    <div class="mt-5">
      <h3>会員登録がお済みでない方</h3>
      <%= link_to "こちら", new_customer_registration_path %>　から会員登録を行ってください。
    </div>
  </div>
</div>